/*RESPONSIVE*/

/*VISTA TABLET*/
/*768PX HASTA 1023PX*/

@media (max-width:1023px) {
    /*Header*/

    .encabezado {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .encabezado .boton {
        display: none;
    }

    /*Banner*/

    .bannerContenido p {
        font-size: 2.5rem;
    }

}

/* Estilos generales para tamaños de pantalla más grandes (por defecto)*/

.page__content img {
    max-width: 100%;
}

/* Media query para tamaños de pantalla más pequeños, como teléfonos móviles*/

@media only screen and (max-width: 767px) {    
    .page__title {
        font-size: 1.5rem;
    }
}

    /* Tamaño de fuente más pequeño para títulos en dispositivos móviles*/

  .page__content img {
      width: 100%;
    }